# Database
POSTGRES_USER=applytrack
POSTGRES_PASSWORD=applytrack
POSTGRES_DB=applytrack
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5433/${POSTGRES_DB}
DB_PORT=5433

# API
API_PORT=3001

# Frontend
FRONTEND_PORT=3000

# Node environment
NODE_ENV=development
